#demo .offcanvas-body .list-block .nav .nav-item {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 10px;
    align-items: center;
    padding: 4px 0px;
    border-bottom: 1px solid #eaeaea;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-trademark {
    font-size: 12px;
    font-weight: 450;
    color: #969596;
    height: fit-content;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-name {
    text-decoration: none;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-name .name {
    font-size: 14px;
    font-weight: 400;
    color: #1b1b11;
    width: 100%;
    max-height: 21px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-size {
    font-size: 13px;
    font-weight: 400;
    color: #3d4246;
}


#demo .offcanvas-body .list-block .nav .nav-item .content .text-price .price-after {
    font-size: 14px;
    color: #bc0000;
    font-weight: 600;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-price .price-before {
    font-size: 13.4px;
    text-decoration: line-through;
    color: #969595;
    font-weight: 500;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-quantity {
    font-size: 13.5px;
    color: #969596;
    font-weight: 400;
}

#demo .offcanvas-body .list-block .nav .nav-item .content .text-delete {
    font-size: 14.5px;
    cursor: pointer;
}